
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        HMCTS prototyping for Child arrangements (CA) and Domestic abuse (DA)
      </h1>
      <p>
        Prototyping citizen user journeys for CA and DA are listed below:
      </p>

      <h2 class="govuk-heading-m">Child arrangements</h2>

      <p>Citizen user journeys for CA</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/childarrangements/start">CA journey 1</a></li>
        <li><a href="#">CA journey 2</a></li>
        <li><a href="#">CA journey 3</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
