{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Page title</h1>

      <h2 class="govuk-heading-m">
       first page in the DA journey:
      </h2>

<!-- start components here -->

      <p> *******ADD Components here***** </p>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      
        <a class="govuk-link" href="/index">Cancel</a>
      </div>

<!-- end components here -->



    </div>

    <div class="govuk-grid-column-one-third">
    </div>

  </div>
{% endblock %}